$enable-rounded: false;
$body-bg: rgb(245, 245, 245);
$body-color: #111;
$enable-shadows: true;

// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

