$enable-rounded: true;
$body-bg: #f8fafc;
$body-color: #0f172a;
$enable-shadows: true;

body,
html {
  height: 100%;
  margin: 0;
  background-color: #f8fafc;
}


// Then import Bootstrap an BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';

